<div>
  <h2 id="page-heading" data-cy="EmployeeHeading">
    <span jhiTranslate="crmApp.employee.home.title">Employees</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="crmApp.employee.home.refreshListLabel">Refresh list</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-employee"
        [routerLink]="['/employee/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="crmApp.employee.home.createLabel">Create a new Employee</span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  @if (employees?.length === 0) {
    <div class="alert alert-warning" id="no-result">
      <span jhiTranslate="crmApp.employee.home.notFound">No Employees found</span>
    </div>
  }

  @if (employees && employees.length > 0) {
    <div class="table-responsive table-entities" id="entities">
      <table class="table table-striped" aria-describedby="page-heading">
        <thead>
          <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="navigateToWithComponentValues()">
            <th scope="col" jhiSortBy="id">
              <div class="d-flex">
                <span jhiTranslate="global.field.id">ID</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="firstName">
              <div class="d-flex">
                <span jhiTranslate="crmApp.employee.firstName">First Name</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="lastName">
              <div class="d-flex">
                <span jhiTranslate="crmApp.employee.lastName">Last Name</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="email">
              <div class="d-flex">
                <span jhiTranslate="crmApp.employee.email">Email</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="phoneNumber">
              <div class="d-flex">
                <span jhiTranslate="crmApp.employee.phoneNumber">Phone Number</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="identityCard">
              <div class="d-flex">
                <span jhiTranslate="crmApp.employee.identityCard">Identity Card</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="dateInspiration">
              <div class="d-flex">
                <span jhiTranslate="crmApp.employee.dateInspiration">Date Inspiration</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="nationality">
              <div class="d-flex">
                <span jhiTranslate="crmApp.employee.nationality">Nationality</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="uploadIdentityCard">
              <div class="d-flex">
                <span jhiTranslate="crmApp.employee.uploadIdentityCard">Upload Identity Card</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="companyName">
              <div class="d-flex">
                <span jhiTranslate="crmApp.employee.companyName">Company Name</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="typeEmployed">
              <div class="d-flex">
                <span jhiTranslate="crmApp.employee.typeEmployed">Type Employed</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="cityAgency">
              <div class="d-flex">
                <span jhiTranslate="crmApp.employee.cityAgency">City Agency</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="residenceCity">
              <div class="d-flex">
                <span jhiTranslate="crmApp.employee.residenceCity">Residence City</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="address">
              <div class="d-flex">
                <span jhiTranslate="crmApp.employee.address">Address</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="socialSecurityNumber">
              <div class="d-flex">
                <span jhiTranslate="crmApp.employee.socialSecurityNumber">Social Security Number</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="birthDate">
              <div class="d-flex">
                <span jhiTranslate="crmApp.employee.birthDate">Birth Date</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="birthPlace">
              <div class="d-flex">
                <span jhiTranslate="crmApp.employee.birthPlace">Birth Place</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="entryDate">
              <div class="d-flex">
                <span jhiTranslate="crmApp.employee.entryDate">Entry Date</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="releaseDate">
              <div class="d-flex">
                <span jhiTranslate="crmApp.employee.releaseDate">Release Date</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="workstation">
              <div class="d-flex">
                <span jhiTranslate="crmApp.employee.workstation">Workstation</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="descriptionWorkstation">
              <div class="d-flex">
                <span jhiTranslate="crmApp.employee.descriptionWorkstation">Description Workstation</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="level">
              <div class="d-flex">
                <span jhiTranslate="crmApp.employee.level">Level</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="coefficient">
              <div class="d-flex">
                <span jhiTranslate="crmApp.employee.coefficient">Coefficient</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="employedManager">
              <div class="d-flex">
                <span jhiTranslate="crmApp.employee.employedManager">Employed Manager</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="numberHours">
              <div class="d-flex">
                <span jhiTranslate="crmApp.employee.numberHours">Number Hours</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="averageHourlyCost">
              <div class="d-flex">
                <span jhiTranslate="crmApp.employee.averageHourlyCost">Average Hourly Cost</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="monthlyGrossAmount">
              <div class="d-flex">
                <span jhiTranslate="crmApp.employee.monthlyGrossAmount">Monthly Gross Amount</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="commissionAmount">
              <div class="d-flex">
                <span jhiTranslate="crmApp.employee.commissionAmount">Commission Amount</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="contractType">
              <div class="d-flex">
                <span jhiTranslate="crmApp.employee.contractType">Contract Type</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="salaryType">
              <div class="d-flex">
                <span jhiTranslate="crmApp.employee.salaryType">Salary Type</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="hireDate">
              <div class="d-flex">
                <span jhiTranslate="crmApp.employee.hireDate">Hire Date</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="enterprise.compagnyName">
              <div class="d-flex">
                <span jhiTranslate="crmApp.employee.enterprise">Enterprise</span>
                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="manager.email">
              <div class="d-flex">
                <span jhiTranslate="crmApp.employee.manager">Manager</span>
                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="department.id">
              <div class="d-flex">
                <span jhiTranslate="crmApp.employee.department">Department</span>
                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody
          infinite-scroll
          (scrolled)="loadPage(page + 1)"
          [infiniteScrollDisabled]="page - 1 >= links['last']"
          [infiniteScrollDistance]="0"
        >
          @for (employee of employees; track trackId) {
            <tr data-cy="entityTable">
              <td>
                <a [routerLink]="['/employee', employee.id, 'view']">{{ employee.id }}</a>
              </td>
              <td>{{ employee.firstName }}</td>
              <td>{{ employee.lastName }}</td>
              <td>{{ employee.email }}</td>
              <td>{{ employee.phoneNumber }}</td>
              <td>{{ employee.identityCard }}</td>
              <td>{{ employee.dateInspiration }}</td>
              <td jhiTranslate="{{ 'crmApp.Pays.' + employee.nationality }}">{{ employee.nationality }}</td>
              <td>
                @if (employee.uploadIdentityCard) {
                  <a
                    (click)="openFile(employee.uploadIdentityCard, employee.uploadIdentityCardContentType)"
                    jhiTranslate="entity.action.open"
                    >Open</a
                  >
                  <span>{{ employee.uploadIdentityCardContentType }}, {{ byteSize(employee.uploadIdentityCard) }}</span>
                }
              </td>
              <td>{{ employee.companyName }}</td>
              <td jhiTranslate="{{ 'crmApp.TypeEmployed.' + employee.typeEmployed }}">{{ employee.typeEmployed }}</td>
              <td>{{ employee.cityAgency }}</td>
              <td>{{ employee.residenceCity }}</td>
              <td>{{ employee.address }}</td>
              <td>{{ employee.socialSecurityNumber }}</td>
              <td>{{ employee.birthDate | formatMediumDatetime }}</td>
              <td>{{ employee.birthPlace }}</td>
              <td>{{ employee.entryDate | formatMediumDatetime }}</td>
              <td>{{ employee.releaseDate | formatMediumDatetime }}</td>
              <td>{{ employee.workstation }}</td>
              <td>{{ employee.descriptionWorkstation }}</td>
              <td jhiTranslate="{{ 'crmApp.Level.' + employee.level }}">{{ employee.level }}</td>
              <td>{{ employee.coefficient }}</td>
              <td>{{ employee.employedManager }}</td>
              <td>{{ employee.numberHours }}</td>
              <td>{{ employee.averageHourlyCost }}</td>
              <td>{{ employee.monthlyGrossAmount }}</td>
              <td>{{ employee.commissionAmount }}</td>
              <td jhiTranslate="{{ 'crmApp.ContractType.' + employee.contractType }}">{{ employee.contractType }}</td>
              <td jhiTranslate="{{ 'crmApp.SalaryType.' + employee.salaryType }}">{{ employee.salaryType }}</td>
              <td>{{ employee.hireDate | formatMediumDatetime }}</td>
              <td>
                @if (employee.enterprise) {
                  <div>
                    <a [routerLink]="['/enterprise', employee.enterprise.id, 'view']">{{ employee.enterprise.compagnyName }}</a>
                  </div>
                }
              </td>
              <td>
                @if (employee.manager) {
                  <div>
                    <a [routerLink]="['/employee', employee.manager.id, 'view']">{{ employee.manager.email }}</a>
                  </div>
                }
              </td>
              <td>
                @if (employee.department) {
                  <div>
                    <a [routerLink]="['/department', employee.department.id, 'view']">{{ employee.department.id }}</a>
                  </div>
                }
              </td>
              <td class="text-end">
                <div class="btn-group">
                  <a [routerLink]="['/employee', employee.id, 'view']" class="btn btn-info btn-sm" data-cy="entityDetailsButton">
                    <fa-icon icon="eye"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                  </a>

                  <a [routerLink]="['/employee', employee.id, 'edit']" class="btn btn-primary btn-sm" data-cy="entityEditButton">
                    <fa-icon icon="pencil-alt"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                  </a>

                  <button type="submit" (click)="delete(employee)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                    <fa-icon icon="times"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                  </button>
                </div>
              </td>
            </tr>
          }
        </tbody>
      </table>
    </div>
  }
</div>
